* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  padding: 5px;
  
}

.others {
  flex : 4;
  height: 100%;
  padding: 0px 10px;
  
  
  
  
}
.others-wrapper {
  height : calc(100vh - 60px);
  width : 100%;
  background:rgb(118, 118, 236);
  border-radius: 5px;
  border-top: 1.5px solid black;
  border-left: 1.5px solid black;
  border-right: 1.5px solid black;
  
  
  
}